
body{
    background-color: #1b1b1b;
}

#header-bar{
    overflow: hidden;
    background-color: black;
}

#header-bar h1{
    color: lightskyblue;
    text-align: center;
}

#search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #242424;
}
#search-bar p{
    color: #9500ff;
    font-weight: bold;
}


.repo-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.repo-card{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: gray;
  align-items: flex-start;
}

.repo-name{
    text-decoration: underline;
    color: #2323ff;
}

.repo-info label{
    color: white;
}

.repo-info p{
    color: lightskyblue;
}

.repo-info-row{
    display: flex;
    flex-direction: row;
}